<a href="https://colab.research.google.com/github/beambomb/Data-Science/blob/main/analysis_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [5]:
data = pd.read_csv("sales_data.csv")
data.head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

Descriptive Statistics Info

In [6]:
data.describe()

,Day,Year,Customer_Age,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
count,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000
mean,15.665753,2014.401739,35.919212,11.901660,267.296366,452.938427,285.051665,469.318695,754.370360
std,8.781567,1.272510,11.021936,9.561857,549.835483,922.071219,453.887443,884.866118,1309.094674
min,1.000000,2011.000000,17.000000,1.000000,1.000000,2.000000,-30.000000,1.000000,2.000000
25%,8.000000,2013.000000,28.000000,2.000000,2.000000,5.000000,29.000000,28.000000,63.000000
50%,16.000000,2014.000000,35.000000,10.000000,9.000000,24.000000,101.000000,108.000000,223.000000
75%,23.000000,2016.000000,43.000000,20.000000,42.000000,70.000000,358.000000,432.000000,800.000000
max,31.000000,2016.000000,87.000000,32.000000,2171.000000,3578.000000,15096.000000,42978.000000,58074.000000

In [14]:
data.shape

(113036, 18)

Youngest Customer

In [8]:
print(min(data['Customer_Age']))

17

Oldest Customer

In [9]:
print(max(data['Customer_Age']))

87

Female vs Male Customers

In [15]:
print("Male Customer : ",(data['Customer_Gender'] == 'M').sum())
print("Female Customer : ",(data['Customer_Gender'] == "F").sum())

Male Customer :  58312
Female Customer :  54724

In [29]:
data.groupby('Product_Category')['Profit'].sum()

Product_Category
Accessories     8862377
Bikes          20519276
Clothing        2839447
Name: Profit, dtype: int64

In [32]:
data.groupby('Product_Category')['Profit'].count()

Product_Category
Accessories    70120
Bikes          25982
Clothing       16934
Name: Unit_Cost, dtype: int64

In [33]:
data.groupby('Country')['Order_Quantity'].sum()

Country
Australia         263585
Canada            192259
France            128995
Germany           125720
United Kingdom    157218
United States     477539
Name: Order_Quantity, dtype: int64

Checking Zero Value from the Dataset

In [35]:
data.isnull().sum()

Date                0
Day                 0
Month               0
Year                0
Customer_Age        0
Age_Group           0
Customer_Gender     0
Country             0
State               0
Product_Category    0
Sub_Category        0
Product             0
Order_Quantity      0
Unit_Cost           0
Unit_Price          0
Profit              0
Cost                0
Revenue             0
dtype: int64